<div class="row">
    <div class="contenedor">
        <div class="logoAP">
            <img src="../../../assets/Logo ArgentinaP.png" id="APlogo" alt="">

        </div>

        <div class="redSocial">
            <div>
                <a href=""><img src="../../../assets/gmail.png" id="gmail" alt=""></a>
                <a href=""><img src="../../../assets/whatsapp.png" alt=""></a>
                <a href=""><img src="../../../assets/github.png" alt=""></a>
                <a href=""><img src="../../../assets/facebook.png" alt=""></a>
                <a href=""><img src="../../../assets/instagram.png" alt=""></a>
            
                <button type="button" class="btn btn-outline-light">Ingresar</button>
            </div>

        </div>
    </div>


</div>



