<div class="row">
    <h1>Hard & Soft Skills</h1>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="10"
        [showUnits]="false"
        [backgroundColor]="'white'"
        [backgroundStrokeWidth]="4"
        [radius]="80"
        [space]="3"
        [outerStrokeWidth]="15"
        [outerStrokeColor]="'violet'"
        [showSubtitle]="false"
        [showInnerStroke]="false"
        [startFromZero]="false"
        [showImage]="true"
        [imageSrc]="'../assets/bootstrap.png'"
        [imageHeight]="105"
        [imageWidth]="105"
        >
        </circle-progress>
    
    </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="10"
        [showUnits]="false"
        [backgroundColor]="'white'"
        [backgroundStrokeWidth]="4"
        [radius]="80"
        [space]="3"
        [outerStrokeWidth]="15"
        [outerStrokeColor]="'violet'"
        [showSubtitle]="false"
        [showInnerStroke]="false"
        [startFromZero]="false"
        [showImage]="true"
        [imageSrc]="'../assets/c.png'"
        [imageHeight]="115"
        [imageWidth]="115"
        >
        </circle-progress>
    
    </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="10"
        [showUnits]="false"
        [backgroundColor]="'white'"
        [backgroundStrokeWidth]="4"
        [radius]="80"
        [space]="3"
        [outerStrokeWidth]="15"
        [outerStrokeColor]="'violet'"
        [showSubtitle]="false"
        [showInnerStroke]="false"
        [startFromZero]="false"
        [showImage]="true"
        [imageSrc]="'../assets/css.png'"
        [imageHeight]="105"
        [imageWidth]="90"
        >
        </circle-progress>
    
    </div>

    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="10"
        [showUnits]="false"
        [backgroundColor]="'white'"
        [backgroundStrokeWidth]="4"
        [radius]="80"
        [space]="3"
        [outerStrokeWidth]="15"
        [outerStrokeColor]="'violet'"
        [showSubtitle]="false"
        [showInnerStroke]="false"
        [startFromZero]="false"
        [showImage]="true"
        [imageSrc]="'../assets/html.png'"
        [imageHeight]="105"
        [imageWidth]="90"
        >
        </circle-progress>
    
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="10"
        [showUnits]="false"
        [backgroundColor]="'white'"
        [backgroundStrokeWidth]="4"
        [radius]="80"
        [space]="3"
        [outerStrokeWidth]="15"
        [outerStrokeColor]="'violet'"
        [showSubtitle]="false"
        [showInnerStroke]="false"
        [startFromZero]="false"
        [showImage]="true"
        [imageSrc]="'../assets/cSharp.png'"
        [imageHeight]="113"
        [imageWidth]="108"
        >
        </circle-progress>
    
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="10"
        [showUnits]="false"
        [backgroundColor]="'white'"
        [backgroundStrokeWidth]="4"
        [radius]="80"
        [space]="3"
        [outerStrokeWidth]="15"
        [outerStrokeColor]="'violet'"
        [showSubtitle]="false"
        [showInnerStroke]="false"
        [startFromZero]="false"
        [showImage]="true"
        [imageSrc]="'../assets/java.png'"
        [imageHeight]="140"
        [imageWidth]="140"
        >
        </circle-progress>
    
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="10"
        [showUnits]="false"
        [backgroundColor]="'white'"
        [backgroundStrokeWidth]="4"
        [radius]="80"
        [space]="3"
        [outerStrokeWidth]="15"
        [outerStrokeColor]="'violet'"
        [showSubtitle]="false"
        [showInnerStroke]="false"
        [startFromZero]="false"
        [showImage]="true"
        [imageSrc]="'../assets/php.png'"
        [imageHeight]="90"
        [imageWidth]="150"
        >
        </circle-progress>
    
    </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="10"
        [showUnits]="false"
        [backgroundColor]="'#F1E1A6'"
        [backgroundStrokeWidth]="4"
        [radius]="80"
        [space]="3"
        [maxPercent]="200"
        [unitsColor]="'#483500'"
        [outerStrokeWidth]="13"
        [outerStrokeColor]="'#FCB53A'"
        [titleColor]="'#483500'"
        [showSubtitle]="false"
        [showInnerStroke]="false"
        [startFromZero]="false"
        [title]="'ENGLISH'"
        [titleFontSize]="'25'"
        [titleFontWeight]="'bolder'"
        >
        </circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [showUnits]="false"
        [backgroundColor]="'#F1E1A6'"
        [backgroundStrokeWidth]="4"
        [radius]="80"
        [space]="3"
        [unitsColor]="'#483500'"
        [outerStrokeWidth]="9"
        [outerStrokeColor]="'#FCB53A'"
        [titleColor]="'#483500'"
        [showSubtitle]="false"
        [showInnerStroke]="false"
        [startFromZero]="false"
        [title]="'Responsabilidad'"
        [titleFontSize]="'19'"
        [titleFontWeight]="'bolder'"
        >
        </circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [showUnits]="false"
        [backgroundColor]="'#F1E1A6'"
        [backgroundStrokeWidth]="4"
        [radius]="80"
        [space]="3"
        [unitsColor]="'#483500'"
        [outerStrokeWidth]="9"
        [outerStrokeColor]="'#FCB53A'"
        [titleColor]="'#483500'"
        [showSubtitle]="false"
        [showInnerStroke]="false"
        [startFromZero]="false"
        [title]="'Trabajo en Equipo'"
        [titleFontSize]="'18'"
        [titleFontWeight]="'bolder'"
        >
        </circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [showUnits]="false"
        [backgroundColor]="'#F1E1A6'"
        [backgroundStrokeWidth]="4"
        [radius]="80"
        [space]="3"
        [unitsColor]="'#483500'"
        [outerStrokeWidth]="9"
        [outerStrokeColor]="'#FCB53A'"
        [titleColor]="'#483500'"
        [showSubtitle]="false"
        [showInnerStroke]="false"
        [startFromZero]="false"
        [title]="'Gestión del Tiempo'"
        [titleFontSize]="'16'"
        [titleFontWeight]="'bolder'"
        >
        </circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [showUnits]="false"
        [backgroundColor]="'#F1E1A6'"
        [backgroundStrokeWidth]="4"
        [radius]="80"
        [space]="3"
        [unitsColor]="'#483500'"
        [outerStrokeWidth]="9"
        [outerStrokeColor]="'#FCB53A'"
        [titleColor]="'#483500'"
        [showSubtitle]="false"
        [showInnerStroke]="false"
        [startFromZero]="false"
        [title]="'Actitud Positiva'"
        [titleFontSize]="'20'"
        [titleFontWeight]="'bolder'"
        >
        </circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [showUnits]="false"
        [backgroundColor]="'#F1E1A6'"
        [backgroundStrokeWidth]="4"
        [radius]="80"
        [space]="3"
        [unitsColor]="'#483500'"
        [outerStrokeWidth]="9"
        [outerStrokeColor]="'#FCB53A'"
        [titleColor]="'#483500'"
        [showSubtitle]="false"
        [showInnerStroke]="false"
        [startFromZero]="false"
        [title]="'Respeto a las opiniones'"
        [titleFontSize]="'13'"
        [titleFontWeight]="'bolder'"
        >
        </circle-progress>

    </div>
    
    
</div>
