<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-8 col-lg-8 seccion1">
            <h2>Portafolio Web</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam maxime distinctio incidunt magni saepe illum, nulla autem libero sapiente quae optio consectetur ducimus? Soluta, saepe minima minus rem iste corporis.</p>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 seccion2">
            <img src="../../../assets/portafolio.png" alt="" class="img-fluid imagenPortafolio">
        </div>

    </div>

</div>
